$paleblue: #bfd7ea;
$mauve: #a2708a;
$navy: #0b3954;
$palepink: #f5edf0;
$teal: #087e8b;
$red: #ce2d35;
$orange: #ffa630;

@mixin flex($justify: flex-start, $align: flex-start, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

:root {
  font-family: "IBM Plex Sans";
}

.sunnyDay {
  background-color: $orange;
  color: $palepink;
}
.snowyDay {
  background-color: $paleblue;
  color: $mauve;
}
.rainyDay {
  background-color: $navy;
  color: $palepink;
}
.cloudyDay {
  background-color: $teal;
  color: $palepink;
}

body {
  @include flex($justify: center);
  font-size: 2rem;
}

.container {
  padding: 1em;
  width: 80vw;
  max-width: 900px;
}

.temp::after {
  content: "\00B0 \0063";
}

form {
  @include flex($justify: center, $align: center);
}

input {
  text-align: center;
  width: 80%;
  max-width: 500px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $palepink;
  color: $palepink;
  padding: 0.8em 0;
  font-size: 2.4rem;
  margin-bottom: 2em;
}

input::placeholder {
  color: $palepink;
}

.snowyDay input {
  border-bottom: 1px solid $mauve;
}

.snowyDay input,
.snowyDay input::placeholder {
  color: $navy;
}

.linksContainer {
  width: 100%;
  text-align: center;
  @include flex($justify: space-between, $align: center);
}

.link {
  margin-bottom: 1em;
  opacity: 0.7;
  cursor: pointer;
}

.link:hover {
  opacity: 1;
  font-weight: 900;
}

.link.active {
  font-weight: 900;
  opacity: 1;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.infoContainer {
  margin-bottom: -2em;
}

.location {
  margin-top: 1em;
}
.city {
  font-size: 5rem;
  font-weight: 400;
}
.country {
  font-size: 3rem;
  font-weight: 400;
}

.highestTempContainer {
  @include flex($justify: center, $align: flex-end);
  margin-bottom: 2em;
}

.highestTempContainer .dateStringContainer {
  @include flex($align: flex-end, $direction: column);
}

.highestTempContainer .temp {
  font-size: 10rem;
}

// @media screen and (min-width: 600px) {
//   .highestTempContainer {
//     flex-direction: row;
//   }
// }
.highestTempContainer .desc {
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  font-size: 4rem;
  margin: 0 0 0.2em 1em;
}

.highestTempContainer img {
  height: 200px;
  margin-bottom: -1em;
}

// //hourly entries
.weatherEntryContainer {
  width: 100%;
  border-bottom: 1px solid rgb(255, 255, 255);
  @include flex($justify: space-between, $align: center);
  margin: 2rem 0;
}

.hourlyDetails {
  min-width: 111px;
}

.hourlyDetails p {
  @include flex($justify: space-between);
}

.hourlyOverview .time {
  font-size: 5rem;
}

.tempContainer,
.humidityContainer,
.windspeedContainer {
  font-size: 1.5rem;
  font-weight: 200;
  @include flex($justify: center, $align: center);
  margin-bottom: 1em;
}

.hourlyDetails span {
  font-size: 2rem;
  font-weight: 600;
}
