$paleblue: #bfd7ea;
$mauve: #a2708a;
$navy: #0b3954;
$palepink: #f5edf0;
$teal: #087e8b;
$red: #ce2d35;
$orange: #ffa630;

:root {
  font-family: "IBM Plex Sans";
}

.sunnyDay {
  background-color: $orange;
  color: $palepink;
}
.snowyDay {
  background-color: $paleblue;
  color: $mauve;
}
.rainyDay {
  background-color: $navy;
  color: $palepink;
}
.cloudyDay {
  background-color: $teal;
  color: $palepink;
}

body {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.container {
  padding: 100px 0;
  width: 80vw;
  // height: 100vh;
  max-width: 1600px;
  position: relative;
}


.temp::after {
content:'\00B0 \0063'

}
form {
  text-align: center;
}
input {
  width: 50%;
  min-width: 500px;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $palepink;
  color: $palepink;
  padding: 0.8em 0;
  font-size: 2.4rem;
  margin-bottom: 2em;
}
input::placeholder {
  color: $palepink;
}
.snowyDay input {
  border-bottom: 1px solid $mauve;
}
.snowyDay input,
.snowyDay input::placeholder {
  color: $navy;
}
.linksContainer {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.link:hover {
  font-size: 24px;
}

.link.active {
  font-weight: 600;
  font-size: 3rem;
  text-decoration: none;
}

.infoContainer {
  position: relative;
  top: 300px;
}

.location {
  margin-top: 1em;
}
.city {
  font-size: 70px;
  font-weight: 400;
}
.country {
  font-size: 30px;
  font-weight: 400;
}


//highest temp container
.highestTempContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.highestTempContainer .dateStringContainer {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}
.highestTempContainer .temp {
  font-size: 30rem;
}


.highestTempContainer  .desc{
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  font-size: 4rem;
  width: 100px
}

.highestTempContainer .img {
  height: 200px;
}

//hourly entries
.weatherEntryContainer {
  width: 100%;
  border-bottom: 1px  solid rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
.hourlyDetails {
  width: 30%;
}

.hourlyDetails p {
  display: flex;
  justify-content: space-between;
}

.hourlyOverview .time {
  font-size: 7rem;
}

.highestTempContainer {
  height: 60vh;
}